OPENAI_API_KEY=your_openai_api_key
LANGGRAPH_CHECKPOINT_POSTGRES_URL=your_checkpoint_postgres_url
LANGGRAPH_CHECKPOINT_POSTGRES_USERNAME=your_checkpoint_postgres_username
LANGGRAPH_CHECKPOINT_POSTGRES_PASSWORD=your_checkpoint_postgres_password
LANGGRAPH_CHECKPOINT_POSTGRES_DATABASE=your_checkpoint_postgres_database
LANGGRAPH_CHECKPOINT_POSTGRES_PORT=your_checkpoint_postgres_port
LANGGRAPH_CHECKPOINT_POSTGRES_HOST=your_checkpoint_postgres_host
LANGGRAPH_CHECKPOINT_POSTGRES_SCHEMA=your_checkpoint_postgres_schema
LANGGRAPH_CHECKPOINT_POSTGRES_TABLE=your_checkpoint_postgres_table
LANGGRAPH_CHECKPOINT_POSTGRES_TABLE_SCHEMA=your_checkpoint_postgres_table_schema
LANGGRAPH_CHECKPOINT_POSTGRES_TABLE_SCHEMA_NAME=your_checkpoint_postgres_table_schema_name
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_AUTH_URI=your_firebase_auth_uri
FIREBASE_TOKEN_URI=your_firebase_token_uri
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=your_firebase_auth_provider_x509_cert_url
FIREBASE_CLIENT_X509_CERT_URL=your_firebase_client_x509_cert_url
FIREBASE_UNIVERSE_DOMAIN=your_firebase_universe_domain