.venv
.env
__pycache__
*.pyc
.DS_Store
.vscode
node_modules
*firebase*.json
# Frontend build output
frontend/dist
frontend/.env

# Python
*.egg-info
.pytest_cache
.mypy_cache
.idea
Thumbs.db

*.sqlite
*.db
*.sql
.langgraph_api/